@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&family=Barlow:wght@100;200;300;400;500;600;700&family=Indie+Flower&display=swap");

$color-fon: #EFF6FF;
$color-default-text: #2A4A5C;
$color-button-fb: #255A9B;
$color-button-in: #0076B6;
$color-1: #3698FB;
$color-2: #7B8A92;
$color-3: #96A5B1;
$color-4: #AFAFAF;
$color-5: #EEEEEE;
$color-6: #FFFFFF;

@mixin flexible($q,$w,$e,$r) {
    display: flex;
    flex-direction: $q;
    justify-content: $w;
    align-items: $e;
    gap: $r;
}

*,
*:before,
*:after {
      padding: 0;
      margin: 0;
      border: 0;
      box-sizing: border-box;
}
a,
a:visited,
a:hover {
      text-decoration: none;
}
html,
body {
      height: 100vh;
      width: 100vw;
      background-color: rgb(165, 165, 165);
      font-family: "Barlow", sans-serif;
      background-color: $color-fon;
      overflow: hidden;
      color: $color-default-text
}

::-webkit-scrollbar {
    width: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: $color-5;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: $color-1;
    border-radius: 5px;
  }

.container {
    @include flexible(row,center,center,0 );
    width: 1200px;
    height: 100%;
    margin: 0 auto;
}
.block {
    width: 100%;
    height: 90vh;
    display: flex;
}
.box-img {
    width: 52%;
    height: 100%;

    background: url("img/bg.jpg") center / cover no-repeat;
    .logo {
        width: 100px;
        height: 50px;
        margin: 35px;
        transition: 0.5s;
        img {
            width: 100%;
        }
        &:hover {
            transition: 0.5s;
            transform: scale(1.2);
        }
    }
}
.box-form {
    width: 48%;
    height: 100%;
    padding: 85px 50px;
    background-color: $color-6;
    overflow-y: auto;
    .box-form__header {
        margin-bottom: 10px;
        h2 {
            font-weight: 500;
        }
    }

    .box-form__subheader {
        margin-bottom: 50px;
        p {
            font-weight: 500;
        }
    }

    .box-form__box-buttons {
        @include flexible(row,center,center,0 );
        margin-bottom: 40px;
        .box-form__button {
            position: relative;
            width: 222px;
            height: 40px;
            img {
                position: absolute;
                top: 20px;
                left: 10px;
                width: 17px;
                height: 17px;
                transform: translate(0,-50%);
                pointer-events: none;
            }
            &:hover {
                transition: 0.5s;
                outline: 3px solid $color-6;
            }
            &:active {
                transition: 0.2s;
                opacity: 0.5;
            }
        }
        .box-form__button-soc_face {
            background-color: $color-button-fb;
        }
        .box-form__button-soc_link {
            background-color: $color-button-in;
            margin-left: auto;
        }
        .box-form__a-reg-fb,.box-form__a-reg-in {
            @include flexible(row,center,center,0);
            width: 100%;
            height: 100%;
            color: $color-5;
            font-size: 13px;
        }
    }
    
    .box-form__line {
        width: 100%;
        display: flex;
        justify-content: center;
        position: relative;
        margin-bottom: 13px;

        &::after {
            content: "";
            display: block;
            position: absolute;
            width: 222px;
            height: 2px;
            background-color: $color-5;
            
        }
        p {
            z-index: 2;
            width: 25px;
            background-color: $color-6;
            font-size: 11px;
            font-weight: 700;
            text-align: center;
            transform: translate(0,-50%);
        }
    }

    .box-form__formUser {
        margin-bottom: 50px;
        form {
        display: flex;
        justify-content: space-between;
        width: 100%;
        label span {
            display: block;
            transform: translate(10px,20px);
            font-size: 12px;
            font-weight: 600;
            color: $color-4;
            pointer-events: none;
        }
        input {
            display: block;
            width: 222px;
            height: 50px;
            cursor: text;
            outline: none;
            border: 1px solid $color-5;
            border-radius: 2px;
            padding-left: 10px;
            padding-top: 15px;
            &:hover {
                border-left: 1px solid $color-1;
            }
            &:focus {
                border-left: 1px solid $color-1;
            }
        }

        .box-form__input_email {
            margin-left: auto;
        }
        .box-form__input_phone {
            margin-left: auto;
        }
        }
    }
    
    .box-form__heading {
        margin-bottom: 7px;
        h3 {
            font-weight: 500;
        }
    }
    .box-form__subheading {
        margin-bottom: 40px;
        p {
            font-size: 13px;
        }
    }

    .box-form__formRadio {
        display: flex;
        margin-bottom: 90px;
        label + label {
            margin-left: 35px;
        }
        label > span {
            margin-left: 10px; 
        }
        label span .box-form__span-i {
            display: inline-flex;
            transform: translate(3px,3px);
            font-size: 9px;
            color: #d3d3d3;
        }
        label > input {
            position: relative;
        }
        label input:checked::after {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 100%;
            border: 3px solid $color-1;
            border-radius: 50%;
            background-color: $color-6;
        }
        .box-form__input-radio {
        }
        .box-form__span-investor {
            font-size: 13px;
            font-weight: 600;
            display: inline-flex;
            transform: translate(0,-15%);
        }
        .box-form__span-i {
            position: relative;
        }
        .box-form__span-i:hover::after {
            content: "I am a natural person investing on my own behalf as a sole owned, join tenant, or tenant in common.";
            display: block;
            position: absolute;
            top: 20px;
            left: -80px;
            width: 200px;
            height: 70px;
            background-color: $color-6;
            font-size: 12px;
            font-weight: 400;
            box-shadow: 2px 5px 25px rgb(233, 233, 233);
            padding: 10px;
            color: $color-4;
        }
    }
    .box-form__checkbox {
        label {
           display: flex;
        }
        label input {
            width: 10px;
            position: relative;
        }
        label input:checked::after {
            content: "";
            display: block;
            position: absolute;
            top: 1px;
            left: -1px;
            width: 12px;
            height: 12px;
            border: 3px solid $color-1;
            background-color: $color-6;
        }
        .box-form__span-terms {
            font-size: 12px;
            color: $color-3;
            margin-left: 10px;
        }
        .box-form__a-link {
            color: $color-1;
            text-decoration: underline;
        }
    }
    
    .box-form__button_createdAc {
        margin-top: 50px;
        width: 222px;
        height: 40px;
        border-radius: 5px;
        background-color: $color-1;
        &:hover {
            transition: 0.5s;
            outline: 3px solid $color-6;
        }
        &:active {
            transition: 0.2s;
            opacity: 0.5;
        }
        
    }
    .box-form__a-button_created {
        @include flexible(row,center,center,0);
            width: 100%;
            height: 100%;
            color: $color-6;
            font-size: 13px;
            font-weight: 500;
    }
}
